@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Familjen Grotesk';
	src: url('/Familjen_Grotesk/FamiljenGrotesk-VariableFont_wght.ttf') format('truetype');
	font-weight: 125 950;
	font-stretch: 100%;
}

:root {
	--font-body: 'Familjen Grotesk', Roboto;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(226, 237, 248);
	--color-bg-1: hsl(207, 55%, 92%);
	--color-bg-2: hsl(227, 24%, 93%);
	--color-theme-1: #4e89c0;
	--color-theme-1-alt: #427eb7;
	--color-theme-2: #93dd76f5;
	--color-text: rgba(8, 8, 8, 0.8);
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
